@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.headerPart{
    height: 100vh;
    background: linear-gradient(to top, rgba(4, 4, 38, 1), rgba(245, 246, 252, 0) 30%),url("./355538.jpg");
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.logo{
    font-weight: bold;
    font-size: 60px;
    color: #ffff;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;

}
.links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-self: center;
    text-transform: uppercase;
    color: #ffff;
    font-size: 25px;
    font-family: 'Mulish', sans-serif;
}
.singleLink{
    padding: 10px;
    background: black;
    cursor: pointer;
    transition: 0.8s;
}
.socialNetworks{
    display: flex;
    gap: 30px;
    align-self: center;

}
.singleSocial{
    cursor: pointer;
}
.centredPart{
    margin-top: 250px;
    text-align: center;
    color: #ffff;
}
.street{
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 'Bebas Neue', sans-serif;
}
.photoshoot{
    font-weight: bold;
    font-size: 80px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 40px;
    text-transform: uppercase;
    margin-left: 40px;
}
.description{
    font-size: 20px;
    letter-spacing: 5px;
    font-family: 'Mulish', sans-serif;
    width: 50%;
    margin: 0 auto;
}
.seeMoreButton{
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    border-bottom: 1px solid white;
    width: 150px;
    margin: 50px auto;
    font-size: 20px;
    background-color: black;
    padding: 10px 5px;
    cursor: pointer;
    transition: 0.8s;
}
.aboutMe{
    background-color: rgba(26, 41, 45);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    border-bottom: 2px solid black;
}
.leftSide{
    width: 60%;
}
.informationAboutMyself{
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    color: #ffff;
    letter-spacing: 2px;
    font-size: 25px;
    text-align: center;
    align-self: center;
    padding: 40px;
}
.rightSideImage{
    align-self: center;
    width: 650px;
    height: 443px;
}
.imageCarousel{
   padding-top: 60px;
    background-color: rgba(26, 41, 60);
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'Bebas Neue', sans-serif;
}
#carousel {
    padding: 60px;
    background-color: rgba(26, 41, 60);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#images img {
    display: none;
    width: 650px;
    height: 433px;
}

#images img:first-child {
    display: block;
}

#images img.reflection {
    -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0, transparent) , to(rgba(250, 250, 250, 0.8)));

}

button {
    font-size: 2em;
    z-index: 2;
    background: transparent;
    border: none;
    color: black;
    opacity: 0.7;
}

#prev {
    margin-right: 50px;
    align-self: center;
    cursor: pointer;
}

#next {
    margin-left: 50px;
    align-self: center;
    cursor: pointer;
}
.applyForPhotoshoot{
    border-top: 2px solid black;
    background-color: rgba(26, 41, 45);
    padding: 40px;
}
.salutation{
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    color: #ffff;
    font-family: 'Bebas Neue', sans-serif;
}
.form{
    margin: 20px auto;
    background-color: #F7F7FC;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
}
.labelForInput{
    margin-bottom: 5px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
}
.inputForm{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.comment{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    resize: none;
    height: 100px;
}
.submitButton{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    background: black;
    color: #F7F7FC;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.8s;
    border: 1px solid black;
}
.footer{
    background-color: rgba(26, 41, 60);
    border-top: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    color: #F7F7FC;
    font-family: 'Bebas Neue', sans-serif;
}
.email{
    color: #F7F7FC;
}
.telephone{
    color: #F7F7FC;
}

/* HOVERS */

.singleLink:hover{
    transition: 0.8s;
    background-color: #F7F7FC;
    color: black;
}
.seeMoreButton:hover{
    transition: 0.8s;
    background-color: #F7F7FC;
    color: black;
}
.submitButton:hover{
    transition: 0.8s;
    background-color: #F7F7FC;
    color: black;
    border: 1px solid black;
}
